extends layout

block content
  h1= title
   
  if error
    p Something went wrong please try again later.
  else
    each post in posts
      div(class='card')
        div(class='card-body')
          h5.card-title #{post.post_title} 
          h6.card-subtitle.mb-2.text-muted #{post.post_author} 
          p.card-text
            |!{post.post_body} 
          a.card-link(href=`${post.url}/edit`) Edit
          a.card-link(href=`${post.url}/delete`) Delete

